#home-cover {
    width: 100%;
    height: 100%;
    background: url('../img/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home-cover {
    width: 100%;
    height: 100%;
    display: table;
}

#home-cover-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: #fff;
    font-weight: 700;
    font-size: 55px;
    margin: 20px 0 20px 0;
    letter-spacing: 1px;
}

.btn-white {
    border-color: #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #000;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}


/********* content genric  ******/

#services {
    padding: 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    margin: 0 auto 30px auto;
    background-color: #34c6d3;
}


/******** service section *********/

.service-item {
    padding: 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon {
    color: #34c6d3;
    float: left;
    padding: 15px;
    width: 75px;
    height: 75px;
    margin-right: 25px;
    text-align: center;
}

.service-item:hover .service-item-icon {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}


/********* about section *****/

#about {
    padding-bottom: 60px;
}

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url("../img/bg-about.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about #content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about #content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title .content-title-underline {
    margin: 0 0 30px 0;
}

#about #content-box-inner #about-desc p {
    margin-bottom: 30px;
}


/********   work  ********/

.row.no-gutters [class *=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: all 1.5s ease-in;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}


/*****  team  ******/

#team {
    padding-top: 60px;
}